:root{
    --primary-color:#EBEEF5;
    --secondary-color:#F7F6FF;
    --element-color:#C4C4C4;
    --custom-font-color:#02577A;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    font-family: Montserrat;
    background-color: var(--primary-color);
}