.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 100px;
}

.item-left-1, .item-left-2, .item-left-3{
    grid-column: 1;
}

.item-right{
    grid-column: 2;
    grid-row: 1/span 3;
}
