.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 100px;
}

.main-container>div{
    background-color: white;
    border-radius: 25px;
    margin-top: 25px;
    margin-right: 57px;
    padding: 26px 42px;
}

.main-container>.item
{
    grid-column: 1;
    margin-left: 57px;
    position: relative;
    
}

.main-container>.item>img
{
    position: absolute;
    top: 0px;
    right: 23px;
    width: 29px;
    height: 29px;
    padding: 10px;
    border-radius: 50%;
}

.expander-block
{
    background-color: white;
    box-shadow: 1px 1px 2px black;
    border-radius: 25px;
    width: 80px;   
    position: absolute;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    right: 5px;
    display: none;
}

.main-container>.item>img:hover
{
    background-color: var(--element-color);
    cursor: pointer;
}

.main-container>.item>img:hover + .expander-block
{
    display: block;
}

.expander-block:hover
{
    display: block;
}

.expander-block p:hover{
    font-weight: bold;
    cursor: pointer;
}

.main-container>.item>p
{
    margin-bottom: 18px;
    color: var(--element-color); 
}

.main-container>.item-left-4{
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: var(--custom-font-color);
    color: white;
    padding: 0;
}

.main-container>.item-left-4>h2{
    font-size: 48px;
    width: 100%;
    text-align: center;
}

.main-container>.item-right{
    grid-column: 2;
    grid-row: 1/span 3;
}

.calendar-name-container{
    text-align: center;
    margin-bottom: 51px;
}

.item-right>.calendar-name-container>h2{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0;
}

.item-right>.calendar-name-container>.img-arrow{
    float: none;
    margin: 0;
}

.item-right>.calendar-name-container>.img-arrow:last-of-type{
    transform: rotate(180deg) translateY(-1px);
}

.item-right>.calendar-month-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 38px);
}

.week-day{
    justify-self: center;
    align-self: center;
}

.week-day>abbr{
    text-decoration: none;
}

.seperator{
    height: 2px;
    width: 100%;
    background-color: black;
    grid-column: 1 / -1;
    align-self: center;
}

.day{
    justify-self: center;
    align-self: center;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 20px;
    border-radius: 999px;
}

.day.grayed-out{
    color: var(--element-color);
}

.day.grayed-out:hover{
    color: black;
}

.day:hover{
    background-color: var(--element-color);
    cursor: pointer;
}

.day:active{
    background-color: var(--custom-font-color);
    color: white;
}

.main-container>div>h2,
.main-container>div>p{
    width: 50%;
    display: inline-block;
    margin: 0;
}

.main-container>div>h2{
    font-size: 26px;
}

.main-container>div>p{
    width: 50%;
    display: inline-block;
    margin: 0;
    color: var(--element-color); 
}

.main-container>div>img{
    float: right;
    margin: 20px;
}

.main-container>.item-left-1::after{
    content: '';
    background-color: #FC0000;
    width: 188px;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    display: block;
}

.main-container>.item-left-2::after{
    content: '';
    background-color: #FCE300;
    width: 188px;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    display: block;
}

.main-container>.item-left-3::after{
    content: '';
    background-color: #51FC00;
    width: 188px;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    display: block;
}

@media(max-width:1000px){
    .main-container{
        grid-template-columns: 1fr;
    }
    .main-container>.item-right{
        grid-column: 1;
        margin-left: 13px;
        margin-right: 13px;
    }
    .main-container>.item{
        margin-left: 13px;
        margin-right: 13px;
        align-self: center;
    }
    .main-container>div{
        padding-top: 8px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .main-container>.item-left-1,
    .main-container>.item-left-2
    {
        margin-top: 0;
    }

    .main-container>.item-left-4{
        justify-self: flex-end;
        width: 60px;
        height: 60px;
        margin-bottom: 25px;
    }
    
    .item-right>.calendar-name-container>h2 {        
        width: 35%;
    }
    .main-container>.item>p
    {
        margin-bottom: 13px;
    }
    .main-container>.item::after{  
        width: 147px;
        height: 13px;
    }
    .main-container>.item>img
    {
        top: -15px;
    }

    .calendar-name-container{
        margin-top: 36px;
        margin-bottom: 36px;
    }
}
