body{
    margin: 0;
}

nav.nav-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100px;
    height: 100%;
    position: fixed;
    text-align: center;
    gap: 34px;
}

.nav-logo{
    margin-top: 52px;
    width: 68px;
}

.nav-line{
    height: 2px;
    width: 62px;
    background-color: black;
}

.nav-point{
    width: 25px;
}

footer.container{
    width: 100%;
    position:absolute;
    bottom: 0;
}

.container>p{
    text-align: center;
}